.App {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  gap: 2rem;
  background-color: #FEFFFE;
  box-shadow: 0 0 10px -8px #000;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.App:hover{
  box-shadow: 0 0 1rem -0.5rem #000;
}

.App h1{
  font-weight: 400;
  color: black;
}

